<div class="container">
  <div class="row">
    <div class="col-md-6"
         ng-init="sort = ''; filterParam='' ">
      
      <a class="btn btn-primary btn-xs" 
         ng-click="sort = '-_matches.length'"
         > Popularity </a>
      
      <a class="btn btn-primary btn-xs"
         ng-click="vm.findNearby();"
         > Nearby </a>
      
      <a class="btn btn-primary btn-xs"> Matches </a>
      
      <a class="btn btn-primary btn-xs"> Conversations </a>
      
      <a class="btn btn-primary btn-xs" 
         ng-click="vm.getAll()"
         > Show All </a>
      
      <br><br>
      
      <div class="panel panel-default"
           ng-repeat="member in vm.members | orderBy: sort ">
        
        <profile-short></profile-short>
        
      </div> <!-- End of Panel -->
       
    </div>

    <div class="col-md-6 col-md-offset-6 fixed">
      <div class="panel panel-default" ng-hide="vm.showOne">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8">
              <h2>{{vm.oneProfile.gender | genders}} {{vm.oneProfile.names.firstName}}</h2>
              <h3>City: {{vm.oneProfile.address.city}}</h3>
              <h3>Age: {{vm.oneProfile.dob | age}}</h3>
            </div>
            
            <div class="col-md-4">
              <img ng-src="{{vm.oneProfile.avatar}}" alt="{{vm.oneProfile.username}}">
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <h3>Company: {{vm.oneProfile.company.name}}<br><em>{{vm.oneProfile.company.catchPhrase}}</em></h3>
              <h3><a href="{{member.website}}">{{vm.oneProfile.website}}</a></h3>
            </div>
          </div>
        </div>
      </div> <!-- End of Panel -->
    </div>
  
  </div><!-- End of Row -->

</div>
