<div class="container text-center" style="position: fixed; z-index: 1; width: 100%; background-color: #FFFFFF; box-shadow: 0px 5px 5px 0px rgba(85,85,85,0.2);">

  <div class="row text-center"
       style="width: 90%; margin: auto;"
       ng-hide="vm.loading">
    
    <div class="col-md-8 
                col-md-offset-2 
                text-center"
         ng-init="sort = ''">
                    
      <a class="btn btn-primary" 
         ng-click="vm.findPopular(); 
                   sort = '-_matches.length'"
         style="margin-top: 18px;"
         > Popular </a>
      
      <a class="btn btn-primary"
         ng-click="vm.findNearby();"
         style="margin-top: 18px;"
         > Nearby </a>
      
      <a class="btn btn-primary"
         ng-click="vm.findMatches();"
         style="margin-top: 18px;"
         > Matches </a>
      
      <a class="btn btn-primary" style="margin-top: 18px;"> Conversations </a>
      
      <a class="btn btn-success" 
         ng-click="vm.getAll()"
         style="margin-top: 18px;"
         > Show All </a>
      
      <br><br>
    </div>
  </div>
    
    <div class="row" ng-show="vm.loading">
      <div class="col-md-10 col-md-offset-1">
      <div class="progress progress-striped active" style="margin-top: 18px; margin-bottom: 8px;">
        <div class="progress-bar" style="width: 100%;"></div>
      </div>
      <p class="text-center"><em>Reticulating Splines</em></p>
      </div>
    </div>

</div>

<div class="container" style="padding-top: 88px; z-index: -1; ">  
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default"
           ng-repeat="member in vm.members track by $index | orderBy: sort "
           ng-click="vm.getOne(member._id)"
           ng-show="member.active">
        
        <profile-short></profile-short>
        
      </div> <!-- End of Panel -->
       
    </div>

    <div class="col-md-6 col-md-offset-6 fixed">
      <div class="panel panel-default" 
           ng-show="vm.showOne">
        
        <profile-full></profile-full>
        
      </div> <!-- End of Panel -->
    </div>
  
  </div><!-- End of Row -->

</div>
