<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center"
         ng-init="sort = ''; 
                  filterParam=''; ">
                    
      <a class="btn btn-primary" 
         ng-click="vm.findPopular(); sort = '-_matches.length'"
         > Popular </a>
      
      <a class="btn btn-primary"
         ng-click="vm.findNearby();"
         > Nearby </a>
      
      <a class="btn btn-primary"
         ng-click="vm.findMatches();"
         > Matches </a>
      
      <a class="btn btn-primary"> Conversations </a>
      
      <a class="btn btn-success" 
         ng-click="vm.getAll()"
         > Show All </a>
      
      <br><br>
      <div class="progress progress-striped active" ng-show="vm.loading">
        <div class="progress-bar" style="width: 100%"></div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default"
           ng-repeat="member in vm.members track by $index | orderBy: sort"
           ng-click="vm.getOne(member._id)">
        
        <profile-short></profile-short>
        
      </div> <!-- End of Panel -->
       
    </div>

    <div class="col-md-6 col-md-offset-6 fixed">
      <div class="panel panel-default" 
           ng-show="vm.showOne">
        
        <profile-full></profile-full>
        
      </div> <!-- End of Panel -->
    </div>
  
  </div><!-- End of Row -->

</div>
