<div class="container" style="padding-top: 60px;">
  <div class="jumbotron-fluid" style="background-image: url('http://www.gauss-centre.eu/SharedDocs/Bilder/GAUSS-CENTRE/EN/projects/2014/ScientificEngineering/sesterhenn_supersonic_jet_03.jpg?__blob=poster')">
    <br><br><br><br><br>
    <h1 class="display-3 text-center" style="color: white;">Welcome to Temperaments Mixer</h1>
    <br><br>
    <p class="lead text-center">
      <a class="btn btn-primary btn-lg" href="#/register" role="button">Ready To Mix It Up?</a>
    </p>
    <br><br><br><br><br>
    <br><br><br><br><br>
  </div>
  
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-center">{{vm.testimonial}}</h1>
    <p class="lead text-center">So says… {{vm.user}}</p>
  </div>
</div>
</div>
